.wrap form {
    .input_sec {
        display: flex;
        justify-content: space-between;
        width: 50%;

        label {
            font-weight: bolder;
        }
    }

    .dropdown_sec {
        text-align: right;

        .cpt_supports {
            font-weight: bolder;
        }

        .dropdown {
            position: relative;
            display: inline-block;
            font-size: 16px;
            color: #fff;
        }

        #checkbox-toggle {
            display: none;
        }

        label {
            box-sizing: border-box;
            display: inline-block;
            background-color: #57a0d4;
            padding: 8px 15px;
            margin-right: 20px;
            font-size: 0.8rem;
            cursor: pointer;
            text-align: center;
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);

            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        /*  The ul will have display:none by default */

        ul {
            position: absolute;
            list-style: none;
            text-align: left;
            width: 155px;
            z-index: 1;
            margin: 5px 0 0 0;
            padding: 0;
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
            display: none;
            background-color: #fff;
        }

        ul li {
            width: 100%;
            background-color: #fff;
            color: black;
            margin-bottom: 9px;
            display: flex;
            justify-content: space-between;
        }

        ul li input {
            height: 20px;
            width: 20px;
            border-radius: 50%;
            position: relative;
            overflow: hidden;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
        }

        ul li input:checked::before {
            position: absolute;
            content: "";

            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            background: #078eee;
            padding: 2px;
            z-index: 3;
        }

        input[type="checkbox"]:checked~label {
            background-color: #3d88bd;
        }

        input[type="checkbox"]:checked~ul {
            display: block;
        }
    }
}