.code_block {
            margin-bottom: 10px;
            background-color: black;
            color: rgb(4, 255, 79);
            width: auto;
            overflow: scroll;

            h1 {
                        text-align: center;
                        color: rgb(4, 255, 79);
            }

            hr {
                        border: 2px solid rgb(4, 255, 79);
            }

            pre {
                        position: relative;
                        margin-top: 40px;
            }
}